
.ipynb_checkpoints
charts
shopee-1.ipynb
Ensemble _NeuralNet.ipynb
data.zip
desktop.ini
data/freapp1.png
data/freapp2.png
data/freban1.png
data/freor1.png
data/freor2.png
data/rotap1.png
data/rotap2.png
data/rotba1.png
data/rotor1.png
data/rotor2.png